{% extends 'partials/base.html' %}

{% load static %}

{% block content %}

    <main>
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Payment completed</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                <li class="breadcrumb-item active text-white">
                    Hi <span class="text-primary">{{request.user|title}}</span> thank you for shopping with us
                </li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                            {% for p_id, item in cart_data.items %}
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        
                                            <img src="{{item.image}}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                                            
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4">{{item.title}}</p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">$ <span>{{item.price|floatformat:2}}</span></p>
                                </td>
                                <td>
                                    
                                        
                                        <p class="mb-0 mt-4">{{item.quantity}}</p>
                                        
                                   
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">$ {% widthratio item.price 1 item.quantity %}</p>
                                </td>
                                
                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="mb-15">Invoice Info</h6>
                            <p>
                            
                                <strong>Invoice To:</strong> {{request.user|title}}
                                
                            </p>

                        </div>

                    </div>
                </div>
                <div class="row g-4 justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                            </div>
                            
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Total</h5>
                                <p class="mb-0 pe-4">${{cart_total_amount|floatformat:2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
        <!-- Cart Page End -->

{% endblock content %}